
*{
padding: 0;
margin: 0;
list-style: none;

}
@media only screen and (min-width: 600px){
.inp1{
width: 347px!important;
}
}

.carousel-control-next{
color:black;
}
.item{
  background-color: white;
  min-height: 250px;

  border-radius: 10px;
  border:2px solid black;
}
.label{
  color: white;

}
.head{
  color: white;
}
.signup-form form{

width:100%;
background-color: #353b48;
border-radius: 3px;
margin-bottom: 15px;

box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
padding: 30px;
}
.modal-content{
background-color: #353b48;
width:100%;
height:80%;

}
.signup-form .hint {
color: white;
margin-bottom: 10px;
text-align: center;
}
.btn1{
width: 90%;
color: black;
font-size: 18px;
border:2px solid #dfe6e9;
border-radius:40px;
background-color: white
}
.head1{
color: black;
}
.inp1{
border:none;
border-bottom: 2px solid black;
width:205px;outline: 0px;
text-align: center;
}
.container1{
margin-left: 30px;
margin-right: 30px;
}
#slide{
  background-image: url(img/LandingSectionre.png);
  background-size: 500px;
  max-width: 650px;
  
}


.carousel-control-next-icon {
  background-image: url("img/next.png");
  margin-right: -227px;
}
.carousel-control-prev-icon {
  background-image: url("img/prev.png");
  margin-left: -242px;
}


@media only screen and (max-width: 600px){
  .card{
    height:400px;
  }
  .carousel-control-next-icon {

  margin-right: 0px;
}
  .carousel-control-prev-icon {

  margin-left: 0px;
}
}
.card-img-top{
  height:40%;
}
.btn-outline-success {
margin:10px;
}
.side{
margin-left: 0px!important;
padding:5px;

}



#slide{
  margin: -20px;
  margin-top: 40px;
  max-width: 100%;
  height: 400px;
  background-image: url(img/LandingSectionre.png);
  background-size: 600px;
  background-repeat: no-repeat;
  padding:10px;
  
}

 
.carousel-indicators li{
  display: none
}

i{
font-size: 100px;
color:#2196f3eb;

}

#testimonials{
font-size:5px;
}
.card1{
  height:190px;
}

.card1{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  /*box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);*/
  /* width:17rem;*/
}
.card1:hover{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.link{
  color:black!important;
  padding:0px;
  padding-right: 0.5rem!important;
}
.link:hover{
  border-bottom: 2px solid blue!important;

    }


.circle {
/*  height: 150px;
width: 150px;
background-color: #555;
border-radius: 50%;
width: 100%; */
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width:150px;
height:150px;
  background-color: #555;
}
.btn-primary {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}








